## **Analisis Exploratorio**
### **Desigualdad Educativa en Chile:** Análisis de Resultados PAES por Tipo de Establecimiento

#### **Nombres:** Lucas Chicao - Ninoska Cid - Isidora Gomez

#### **Curso**: IMT-2200 - Introduccion a la Ciencias de Datos

___
### **Contexto del proyecto:** 
La PAES es la prueba que miles de estudiantes chilenos rinden para acceder a la universidad, pero es un hecho que no todos cuentan con las mismas oportunidades educativas, ya que estas dependen del tipo de colegio en el que estudiaron.

En este proyecto, nos proponemos investigar si efectivamente hay diferencias en los puntajes de la PAES entre estudiantes de colegios públicos, subvencionados y privados, y también medir la magnitud de esas posibles diferencias.

### **Preguntas a responder:**
-¿Hay diferencias en los puntajes entre colegios públicos, subvencionados y privados?

-¿Qué tipo de colegio tiene mejores resultados en promedio?

-¿Qué tan grande es la brecha entre estos grupos?

-¿Existe correlación entre el tipo de establecimiento y las probabilidades de acceso a universidades tradicionales?

-¿Los resultados confirman las desigualdades educativas documentadas en otros estudios?

-...

### **Datos a usar:**
Los datos que usaremos en nuestro proyecto seran principalmente de base de datos de:

-DEMRE

-chiquillos si les parece aqui hay una base de datos para poder usar, si lo usamos eliminen este mensajito: https://www.kaggle.com/datasets/daniellopez01/admisionuescl

### **Analisis Exploratorio:**
En las siguientes lineas exploraremos los datos que ya obtuvimos y revisaremos como vamos en relacion con datos.

In [2]:
#LIBRERIAS A USAR
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
#...

# Analisis Exploratorio de la base de datos del DEMRE (2023 - 2025)

La bdd del demre viene con 4 tipos de archivos segun el año

    - Inscripcion   

    - Matricula

    - Postulacion

    - Rendicion

Cada uno de estos tipo de archivos tienen distinto formato

In [29]:
#CARGAR DATOS Y DF (INSCRIPCION)



base_path = os.path.dirname(os.getcwd())  # Esto sube un nivel desde 'Análisis Exploratorio'

file_path = os.path.join(base_path, 'DEMRE_bdd', '2023','Incripcion','Inscritos_Admisión2023','ArchivoB_Adm2023.csv')

df_2023_inscripcion = pd.read_csv(file_path, sep=';')
df_2023_inscripcion

,ID_aux,ANYO_PROCESO,SEXO,RBD,COD_ENS,REGIMEN,RAMA_EDUCACIONAL,GRUPO_DEPENDENCIA,FECHA_NACIMIENTO,ANYO_EGRESO,...,CODIGO_COMUNA,CODIGO_REGION_D,CODIGO_COMUNA_D,SITUACION_EGRESO,RINDIO_PROCESO_ANTERIOR,RINDIO_PROCESO_ACTUAL,BEA,PACE,PAIS_NACIMIENTO,INGRESO_PERCAPITA_GRUPO_FA
0,id_9265592376510,2023,1,1.0,510.0,3.0,T2,4.0,92004,2022.0,...,15101.0,15,15101,1,0,1,NaN,PACE,210,2
1,id_9492594679209,2023,1,1.0,510.0,3.0,T2,4.0,62004,2021.0,...,15101.0,15,15101,5,1,1,NaN,NaN,210,2
2,id_9325593372588,2023,1,1.0,510.0,3.0,T2,4.0,22005,2022.0,...,15101.0,15,15101,1,0,1,BEA,PACE,210,2
3,id_3443934474359,2023,1,1.0,510.0,3.0,T2,4.0,61992,2010.0,...,15101.0,15,15101,5,0,1,NaN,NaN,210,1
4,id_9355593175583,2023,1,1.0,510.0,3.0,T2,4.0,122004,2022.0,...,15101.0,15,15101,1,0,1,NaN,PACE,210,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293860,id_9162591776233,2023,1,NaN,NaN,NaN,NaN,NaN,112003,2022.0,...,NaN,13,13125,2,0,1,NaN,NaN,210,99
293861,id_6620966272093,2023,2,NaN,NaN,NaN,NaN,NaN,61998,2016.0,...,NaN,4,4101,6,0,1,NaN,NaN,210,1
293862,id_8886588078640,2023,2,NaN,NaN,NaN,NaN,NaN,61999,2019.0,...,NaN,9,9101,6,1,3,NaN,NaN,210,2
293863,id_3253532675336,2023,2,NaN,NaN,NaN,NaN,NaN,102002,2021.0,...,NaN,1,1101,8,0,3,NaN,NaN,290,8
293864,id_8843588774312,2023,1,NaN,NaN,NaN,NaN,NaN,101998,2019.0,...,NaN,8,8105,6,0,2,NaN,NaN,210,99

In [60]:
#EXPLORACION 
print(f'Columnas : {df_2023_inscripcion.columns}')
print('-----------')
print(f'Filas : {df_2023_inscripcion.shape[0]}, Columnas : {df_2023_inscripcion.shape[1]}') #Filas, Columnas
print('-----------\n')
print(df_2023_inscripcion.info())
print('-----------')

Columnas : Index(['ID_aux', 'ANYO_PROCESO', 'SEXO', 'RBD', 'COD_ENS', 'REGIMEN',
       'RAMA_EDUCACIONAL', 'GRUPO_DEPENDENCIA', 'FECHA_NACIMIENTO',
       'ANYO_EGRESO', 'CODIGO_REGION', 'CODIGO_PROVINCIA', 'CODIGO_COMUNA',
       'CODIGO_REGION_D', 'CODIGO_COMUNA_D', 'SITUACION_EGRESO',
       'RINDIO_PROCESO_ANTERIOR', 'RINDIO_PROCESO_ACTUAL', 'BEA', 'PACE',
       'PAIS_NACIMIENTO', 'INGRESO_PERCAPITA_GRUPO_FA'],
      dtype='object')
-----------
Filas : 293865, Columnas : 22
-----------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293865 entries, 0 to 293864
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID_aux                      293865 non-null  object
 1   ANYO_PROCESO                293865 non-null  int64
 2   SEXO                        293865 non-null  int64
 3   RBD                         291232 non-null  float64
 4   COD_ENS                     291232 non-null  float64
 5   REGIMEN                     269287 non-null  float64
 6   RAMA_EDUCACIONAL            291232 non-null  object
 7   GRUPO_DEPENDENCIA           291232 non-null  float64
 8   FECHA_NACIMIENTO            293865 non-null  int64
 9   ANYO_EGRESO                 293531 non-null  float64
 10  CODIGO_REGION               292597 non-null  float64
 11  CODIGO_PROVINCIA            292597 non-null  float64
 12  CODIGO_COMUNA               291232 non-null  float64
 13  CODIGO_REGION_D             293865 non-null  int64
 14  CODIGO_COMUNA_D             293865 non-null  int64
 15  SITUACION_EGRESO            293865 non-null  int64
 16  RINDIO_PROCESO_ANTERIOR     293865 non-null  int64
 17  RINDIO_PROCESO_ACTUAL       293865 non-null  int64
 18  BEA                         14403 non-null   object
 19  PACE                        37338 non-null   object
 20  PAIS_NACIMIENTO             293865 non-null  int64
 21  INGRESO_PERCAPITA_GRUPO_FA  293865 non-null  int64
dtypes: float64(8), int64(10), object(4)
memory usage: 49.3+ MB
None
-----------

In [55]:
#LIMPIEZA DE DATOS

In [54]:
#ESTADISTICAS DE DATOS (tipo promedios colegios, comunas con mas puntos, ...) - Inscripcion

'''
count	Conteo	Número de valores no nulos en la columna
unique	Únicos	Número de valores distintos (solo para columnas tipo objeto/categoría)
top	Más común	Valor que aparece con mayor frecuencia (modo)
freq	Frecuencia	Cuántas veces aparece el valor más común (top)
mean	Media	Promedio aritmético de los valores numéricos
std	Desviación estándar	Medida de dispersión: qué tan lejos están los datos del promedio
min	Mínimo	Valor más bajo en la columna
25%	Cuartil 1	Valor por debajo del cual está el 25% de los datos
50%	Mediana	Valor central: 50% de los datos están por debajo
75%	Cuartil 3	Valor por debajo del cual está el 75% de los datos
max	Máximo	Valor más alto en la columna
'''

df_2023_inscripcion_descripcion = df_2023_inscripcion.describe(include='all')
df_2023_inscripcion_descripcion.columns

Index(['ID_aux', 'ANYO_PROCESO', 'SEXO', 'RBD', 'COD_ENS', 'REGIMEN',
       'RAMA_EDUCACIONAL', 'GRUPO_DEPENDENCIA', 'FECHA_NACIMIENTO',
       'ANYO_EGRESO', 'CODIGO_REGION', 'CODIGO_PROVINCIA', 'CODIGO_COMUNA',
       'CODIGO_REGION_D', 'CODIGO_COMUNA_D', 'SITUACION_EGRESO',
       'RINDIO_PROCESO_ANTERIOR', 'RINDIO_PROCESO_ACTUAL', 'BEA', 'PACE',
       'PAIS_NACIMIENTO', 'INGRESO_PERCAPITA_GRUPO_FA'],
      dtype='object')

In [56]:
#VISUALIZACION DE LOS DATOS

------------------------------------------------------------------------------------------------------------------------

In [ ]:
#CARGAR DATOS Y DF

In [ ]:
#EXPLORACION

In [ ]:
#LIMPIEZA DE DATOS

In [ ]:
#ESTADISTICAS DE DATOS (tipo promedios colegios, comunas con mas puntos, ...)

In [ ]:
#VISUALIZACION DE LOS DATOS

### **Conclusion:** 
En relacion con los datos que analizamos anteriormente podemos darnos cuenta que...